SUPABASE_PUBLISHABLE_KEY="sb_publishable_r48eoGOIKeSVVRByo2F2Sg_nDYMlEML"
SUPABASE_URL="https://wxqythliuvdghxkfxuwz.supabase.co"
VITE_SUPABASE_PROJECT_ID="skeuohukzjbjjsvqfemi"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_r48eoGOIKeSVVRByo2F2Sg_nDYMlEML"
VITE_SUPABASE_URL="https://wxqythliuvdghxkfxuwz.supabase.co"
OPENAI_API_KEY="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"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind4cXl0aGxpdXZkZ2h4a2Z4dXd6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODE1NzEyNSwiZXhwIjoyMDkzNzMzMTI1fQ.7M9FDFyl-q4CjeNmmwtO7LvSrCadPLZNvYxB8ghbCvs"